* {
  box-sizing: border-box;
}

.App {
  font-size: 0px;
  width: 100%;
}

.grid {
  position: relative;
  top: 25px;
  margin: auto;
  width: 900px;
  height: 900px;
}

.cell {
  width: 31px;
  height: 31px;
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid black;
  display: inline-block;
}

.cell.empty:hover {
  background-color: rgba(81, 50, 255, 0.432);
}

.cell.filled {
  background-color: black;
}

.cell.empty {
  background-color: rgba(0, 0, 0, 0.11);
}

.btn {
  position: relative;
  margin: 5px;
  top: 50px;
  left: 150px;
}
